@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Montserrat-Bold.ttf") format("ttf");
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Montserrat-SemiBold.ttf") format("ttf");
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Montserrat-Medium.ttf") format("ttf");
  font-display: fallback;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Montserrat-Light.ttf") format("ttf");
  font-display: fallback;
}

body {
  @apply bg-BLACK_400 text-white;
  box-sizing: border-box;
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide::-webkit-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
